npctag
{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	pixel-snap: 0;



	label
	{
		padding: 1px 60px;
		padding-left: 40px;
		font-family: Poppins;
		font-size: 64px;
		color: white;
	}
	
}
